*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
  color: rgb(158, 147, 147);
  background: #250008;
}
.row{margin: 0;}
/* NAVBAR */
nav{background-color: #000;}
nav img{ margin: 1%;}
.nav-item{margin: 0 1rem;}

/* HERO */
#hero img{height: 80vh; width: 100%;}

#hero {
    background-color: #000;
  }
  .flash{
    animation:  2500ms infinite;
}
.wrapper{color: #fff;}
.wrapper h2{margin-top: 3rem; color:#A56B20}
  .text-area{
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: -15px;
    padding-top: 5%;
  }
  .text-area span{
    opacity: 0;
    transform: translate((-300px, 0) scale(0));
    animation: animate 3s forwards;
    display:inline-block;
  }
  .text-area span:nth-of-type(2){
    animation-delay: .1s;
  }.text-area span:nth-of-type(3){
    animation-delay: .2s;
  }.text-area span:nth-of-type(4){
    animation-delay: .3s;
  }.text-area span:nth-of-type(5){
    animation-delay: .4s;
  }.text-area span:nth-of-type(6){
    animation-delay: .5s;
  }
  
  @keyframes animate{
    60%{
      transform:translate(20px, 0 scale(1));
      color: #fff;
    }
    80%{
      transform:translate(20px, 0 scale(1));
      color: #fff;
  
    }
    90%{
      transform:translate(0) scale(1.2);
      color: #BD861F;
  
    }
    100%{
      transform:translate(0) scale(1);
      color: #fff;
      opacity: 1;
    }
  }
  
  hr {
    border-bottom: 5px solid #ccc;
    position: relative;
  }
  .container {
    padding:20% 0 5%;
  }
  .box {
    height: 100px;
    width: 250px;
    border: 3px solid #3C8DDE;
    border-radius: 15px;
    position: relative;
    animation-duration: 10s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    background: #F2F3F4;
  }
  @keyframes slidein {
    from {
      left: 0%;
    }
    to {
      left: 74%;
    }
  }
  .circle1 {
    height: 35px;
    width: 35px;
    border: 1px solid #3C8DDE;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    background: #F2F3F4;
    bottom: -18px;
    left: 50px;
    }
    .circle2 {
    height: 35px;
    width: 35px;
    border: 1px solid #3C8DDE;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    background: #F2F3F4;
    bottom: -18px;
    right: 25px;
  }
  .dot .fa-circle{
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 5px;
  }
















/* ABOUT US */
#about, #products, #certifications, #biz{    margin: 7%;}
#about h1, #products h1, #certifications h1, #biz h1{margin-bottom: 3.5rem;}


/* OUR PRODUCTS */

#biz .row{margin: auto;}
.card {
margin: auto  ;
  background: #000;
}
.card .carousel-caption{
  top: 10px;
  right: 0;
  left: 0;
}
.card .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.card .image img {
  width: 100%;
  height: 500px;
  transition: .5s;
}
.card:hover .image img {
  opacity: .5;
  transform: translateX(10%);
}
.card .details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(255, 255,255,0.6);
  transition: .5s;
  transform-origin: left;
  transform: perspective(2000px) rotateY(-90deg);
}

.card:hover .details {
  transform: perspective(2000px) rotateY(0deg);
}
.card .details .center {
  padding: 20px;
  text-align: center;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}
.card .details .center h1 {
  margin: 0;
  padding: 0;
  color: #250008;
  line-height: 20px;
  font-size: 20px;
  text-transform: uppercase;
}
.card .details .center p {
  margin: 10px 0;
  padding: 0;
  color: #262626;
}



/* CERTIFICATIONS */
#certifications li{
    display: inline-block;
    list-style: none;
    margin: 2rem;
    animation-iteration-count: infinite;
}

/* CLIENTS */
#clients {
    display: block;
    position: relative;
    color: #fff;
    padding: 5%;
    margin: 7% 0;
  }
  #clients::after {
    content: "";
    background-image: url(images/pexels-daniel-absi-952670.jpg);
    opacity: 0.9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

#clients img{
    height: 100px;
    width: 100px;
}

.testimonial{
    background-color: #122748;
    background-attachment: scroll;
    background-position: center bottom;
    padding: 117px;
    margin-top: 3rem;
    color: #fff;
    border-radius: 1.5rem;
}

/* FOOTER */
#footer{
    padding: 100px;
    color: #fff;
    }

.footRow{
    margin-top: 20px;
    margin-left: 40px;
}
#footer ul{margin: 0;}
#footer li{list-style: none; }
#footer a{color: #fff;}
.col-md-1{
    position: absolute;
}
span{
    margin-left: 35px;
}

.soc{
    margin: 0 7px;
    color: #fff;
}

/* MEDIA QUERY */
@media(max-width:400px){
  *{text-align: center;}
  #hero .text-area{font-size: 3rem;}
  #hero span{margin-left: 25px;}
  .box{height: 79px;  width: 150px;}
  .circle1{left: 16px;}
  .circle2{right: 12px;}
  @keyframes slidein {
    from {
      left: 0%;
    }
    to {
      left: 52%;
    }
  }
  .wrapper h2{margin-top: 2rem;font-size: 1.2rem;}
  span{margin: 0;}
  #about, #products, #certifications, #biz {margin: 30% 0;}
  #about h1, #products h1, #certifications h1, #biz h1{font-size: 2.3rem;margin-bottom: 2.5rem;}
  #about h6{font-size: 1rem;  margin-bottom: 2rem;}
  #about p, #clients p{font-size: 0.8rem;}
  .fa-3x{font-size: 30px;}
  #biz h2{font-size: 1.5rem;}
  .card .image img {  width: 350px;  height: 201px;}
  .card{margin: 10px 0;}
  .certCol{padding: 5%;}
  .testimonial{padding: 30px 10px;}
  #footer{padding: 0;}
  .footRow .col-md-1{text-align: left;}
  .footRow span{margin-left: 20px;}
  #footer li{margin: 15px 0;}
  #footer ul{ margin: 30px 0;}
  #footer .fa-1x{margin: 10px 15px 5px;}
  .owl-carousel{margin-top: 40px;}

}


  @media(max-width:780px) and (min-width:402px){
    *{text-align: center;}
    #hero .text-area{font-size: 3.5rem;}
    #hero span{margin-left: 30px;}
    .box{height: 90px;  width: 170px;}
    .circle1{left: 16px;}
    .circle2{right: 12px;}
    @keyframes slidein {
      from {
        left: 0%;
      }
      to {
        left: 58%;
      }
    }
    .wrapper h2{margin-top: 2rem;font-size: 1.5rem;}
    span{margin: 0;}
    #about, #products, #certifications, #biz {margin: 30% 0;}
    #about h1, #products h1, #certifications h1, #biz h1{font-size: 2.5rem;margin-bottom: 2.5rem;}
    #about h6{font-size: 1.1rem;  margin-bottom: 2rem;}
    #about p, #clients p{font-size: 0.9rem;}
    .fa-3x{font-size: 33px;}
    #biz h2{font-size: 1.6rem;}
    #biz .row{padding: 20px;}
    .card .image img {  width: 500px;  height: 240px;}
    .card{margin: 10px 0;}
    .certCol{padding: 5%;}
    .testimonial{padding: 30px 10px;}
    #footer{padding: 0;}
    .footRow .col-md-1{text-align: left;}
    .footRow span{margin-left: 20px;}
    #footer li{margin: 15px 0;}
    #footer ul{ margin: 30px 0;}
    #footer .fa-1x{margin: 10px 15px 5px;}
    .owl-carousel{margin-top: 40px;}
  }


  @media(max-width:1024px) and (min-width:768px){
    #hero .text-area{font-size: 2.5rem;}
    #hero span{margin-left: 23px;}
    .box{height: 90px;  width: 170px;}
    .circle1{left: 16px;}
    .circle2{right: 12px;}
    @keyframes slidein {
      from {
        left: 0%;
      }
      to {
        left: 62%;
      }
    }
    .wrapper h2{margin-top: 2rem;font-size: 1.3rem;}
    #about, #products, #certifications, #biz {margin: 15% 0;}
    #about h6 {      font-size: 1rem;      margin-bottom: 0.2rem;}
    #about p, #clients p, #certifications p,   .footRow span, #footer li{font-size: 0.9rem;}
    .certCol{padding: 3%;}
    #footer{padding: 0;}
    .footRow .col-md-1{text-align: left;}
    #footer li{margin: 15px 0;}
    #footer ul{ margin: 30px 0;}
    #footer .fa-1x{margin: 10px 15px 5px;}
    .owl-carousel{margin-top: 40px;}


  }
